<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="./css/about_us.css">
    </head>
    <body>
        <div class="main">

            <header>
                {{>navbar}}
            </header>
            {{>RegisterLogin}}
            <section class="hero-section">
                <div class="hero-text">
                    <p>About Fitness Forge</p>
                    <p>Find the Healthy Way</p>
                </div>
            </section>
            <!-- hero section done -->

        </div>
        <section class="about_us_section">
            <div class="gym-image">
                <img src="../Assets/about_us_gym_img.jpg" alt="gym">
                <ul class="about_us_list">
                    <li>
                        <div class="redline"></div>
                        <p class="about-heading">OUR GYM</p>
                    </li>
                    <li>
                        <div class="about-text">
                            <p>Lorem ipsum dolor sit amet consectetur
                                adipisicing elit. Eligendi voluptate hic,
                                dolorum nulla iure odit earum perferendis
                                laboriosam excepturi laborum quos quia saepe
                                nesciunt delectus ex porro. Ex eius ipsum dolore
                                similique rem optio corporis odit obcaecati
                                consequatur quasi. Sed sequi dolore sapiente
                                itaque ullam ad minima repellendus, deleniti
                                excepturi.
                            </p>
                            <p>Lorem ipsum, dolor sit amet consectetur
                                adipisicing elit. Ullam corrupti minima optio
                                quisquam eos similique beatae consectetur
                                consequatur debitis at! Minus aut dicta
                                nesciunt, accusantium ex facilis, omnis beatae
                                dolor enim quam sunt aspernatur iusto sapiente!
                                Vero dolores saepe debitis hic sint ex a eaque
                                mollitia. Et labore possimus molestiae!
                            </p>
                        </div>
                    </li>
                    <li class="join-link">
                        <p>
                            <a href="#">Join Our Club</a>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="exercise_section">
            <ul class="card-section">
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
            </ul>
        </section>
        {{>footer}}
        <a href="#" class="back-top-btn active">
            <i class="fa-solid fa-caret-up"></i>
        </a>

        {{>scripts}}
    </body>
</html>