<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
        <link rel="stylesheet" href="./css/about_us.css">
    </head>
    <body>
        <div class="main">

            <header>
                {{>navbar}}
            </header>
            {{>RegisterLogin}}
            <section class="hero-section">
                <div class="hero-text">
                    <p>About Fitness Forge</p>
                    <p>Find the Healthy Way</p>
                </div>
            </section>
            <!-- hero section done -->

        </div>
        <section class="about_us_section">
            <div class="gym-image">
                <img src="../Assets/about_us_gym_img.jpg" alt="gym">
                <ul class="about_us_list">
                    <li>
                        <div class="redline"></div>
                        <p class="about-heading">OUR GYM</p>
                    </li>
                    <li>
                        
                        <div class="about-text">
                            <p>FitnessForge stands as an all-encompassing digital sanctuary dedicated to fostering individual well-being and empowerment. As a user-centric platform, FitnessForge seamlessly integrates personalized workout and diet plans, cutting-edge gym memberships, and an innovative workout tracker. This digital forge empowers users to sculpt their fitness journey, offering tailored solutions that align with their unique health and wellness goals.
                            </p>
                            <p> With a commitment to transparency and user trust, FitnessForge also provides a wealth of knowledge through regularly updated blogs covering a spectrum of health, fitness, and nutrition topics. Immerse yourself in the FitnessForge community, where every click, workout, and choice is a step towards forging a stronger, healthier, and more resilient version of yourself. Welcome to FitnessForge – where your journey to holistic well-being begins.
                        </div>
                    </li>
                    <li class="join-link">
                        <p>
                            <a href="#">Join Our Club</a>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <section class="exercise_section">
            <ul class="card-section">
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
                <li class="card">
                    <div>

                        <img src="../Assets/Power lifting.svg"
                            class="exercise-card-img" alt="lifting">

                        <h5 class="card-heading">Weight lifting</h5>

                        <div class="exercise-text">
                            <p class="text">
                                Lorem ipsum dolor sit amet consectetur,
                                adipisicing elit. Nostrum molestias sapiente,
                                cupiditate quibusdam dolorem nam asperiores
                                aspernatur mollitia harum soluta assumenda quis!
                                Nemo, quasi sint aperiam quia sapiente nostrum
                                porro!
                            </p>
                        </div>
                    </div>

                </li>
            </ul>
        </section>
        {{>footer}}
        <a href="#" class="back-top-btn active">
            <i class="fa-solid fa-caret-up"></i>
        </a>

        {{>scripts}}
    </body>
</html>