<!DOCTYPE html>
<html lang="en">
    <head>
       {{>head}}
       <link rel="stylesheet" href="./css/about_us.css">
        <link rel="stylesheet" href="./css/classes.css">
        
    </head>
    <body>
        <div class="main">
            <header>
               {{>navbar}}
            </header>
            
        {{>RegisterLogin}}
            <section class="hero-section">
                <div class="hero-text">
                    <h2>
                        OUR CLASSES
                    </h2>
                </div>
            </section>
            <!-- hero section done -->
        </div>

        </div>
        <section class="about_us_section">
            <div class="gym-image">
                <img src="../Assets/silver-class-img.jpeg" alt="silver-class-img">
                <ul class="about_us_list">
                    <li>
                        <div class="redline"></div>
                        <p class="about-heading">Silver Classes</p>
                    </li>
                    <li>
                        <div class="about-text">
                            <div class="about-class">
                                <h3
                                    class="about-class-heading">Description:</h3>
                                <p>
                                    The Silver Class is designed for individuals
                                    who are looking to kickstart their fitness
                                    journey. It provides essential features to
                                    help you build a strong foundation for a
                                    healthier lifestyle.</p>
                            </div>
                            <h3 class="sub-heading">Features:</h3>
                            <ul class="features">
                                <li>Access to the gym during standard
                                    hours.</li>
                                <li>Standard workout plans tailored for
                                    beginners.</li>
                                <li>Limited access to premium amenities.</li>
                            </ul>
                            <div class="additional-details">
                                <h3 class="sub-heading">Additional Details:</h3>
                                <p>Ideal for beginners and those with a moderate
                                    fitness level. Upgrade options available for
                                    more personalized plans.</p>
                            </div>
                        </div>
                    </li>
                    <li class="join-link">
                        <p>
                            <a href="#">Join for &dollar;35 per month</a>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        <div class="black-border"></div>
        
        <section class="about_us_section">
            <div class="gym-image">
                <ul class="about_us_list">
                    <li>
                        <div class="redline"></div>
                        <p class="about-heading">Gold Classes</p>
                    </li>
                    <li>
                        <div class="about-text">
                            <div class="about-class">
                                <h3
                                    class="about-class-heading">Description:</h3>
                                <p>
                                    The Gold Class is designed for individuals
                                    seeking a more comprehensive fitness
                                    experience. It offers enhanced features to
                                    take your fitness routine to the next
                                    level.</p>
                            </div>
                            <h3 class="sub-heading">Features:</h3>
                            <ul class="features">
                                <li>Extended gym access, including peak
                                    hours.</li>
                                <li>Customized workout plans based on individual
                                    goals.</li>
                                <li>Access to selected premium amenities.</li>
                            </ul>
                            <div class="additional-details">
                                <h3 class="sub-heading">Suited for intermediate
                                    to advanced fitness enthusiasts.
                                    Personalized attention with more advanced
                                    workout options.</p>
                            </div>
                        </div>
                    </li>
                    <li class="join-link">
                        <p>
                            <a href="#">Join for &dollar;95 per month</a>
                        </p>
                    </li>
                </ul>
                <img src="../Assets/gold-class-img.jpeg" alt="gold-class-img">
            </div>
        </section>
        <div class="black-border"></div>
        <section class="about_us_section">
            <div class="gym-image">
                <img src="../Assets/Platinum-class-img.jpeg"
                    alt="Platinum-class-img">
                <ul class="about_us_list">
                    <li>
                        <div class="redline"></div>
                        <p class="about-heading">Platinum Classes</p>
                    </li>
                    <li>
                        <div class="about-text">
                            <div class="about-class">
                                <h3
                                    class="about-class-heading">Description:</h3>
                                <p>
                                    The Platinum Class represents the pinnacle
                                    of our fitness offerings. It caters to
                                    individuals who demand the highest level of
                                    personalized attention and premium
                                    amenities.</p>
                            </div>
                            <h3 class="sub-heading">Features:</h3>
                            <ul class="features">
                                <li>Unlimited access to the gym at any
                                    time.</li>
                                <li>Highly personalized workout plans tailored
                                    to specific goals.</li>
                                <li>Full access to all premium amenities,
                                    including personal
                                    training sessions.</li>
                            </ul>
                            <div class="additional-details">
                                <h3 class="sub-heading">Additional Details:</h3>
                                <p>Tailored for advanced fitness enthusiasts and
                                    those with specific fitness goals. Provides
                                    the most comprehensive and personalized
                                    fitness experience.</p>
                            </div>
                        </div>
                    </li>
                    <li class="join-link">
                        <p>
                            <a href="#">Join for &dollar;195 per month</a>
                        </p>
                    </li>
                </ul>
            </div>
        </section>
        
        {{>footer}}
        <a href="#" class="back-top-btn active">
            <i class="fa-solid fa-caret-up"></i>
        </a>
        <script src="https://kit.fontawesome.com/009995a51e.js"
            crossorigin="anonymous"></script>
            {{>scripts}}
    </body>
</html>