<!DOCTYPE html>
<html lang="en">
    <head>
        {{>head}}
    </head>
    <body>
        <header>
            {{>navbar}}
        </header>

        {{>RegisterLogin}}
        <section class="hero-section">
            <div class="hero-text">
                <p>Your <span class="text-orange">Fitness</span> Your <span
                        class="text-orange">Forge</span></p>
                <p>Your <span class=" text-orange">Rules</span></p>
            </div>
        </section>
        <!-- hero section done -->
        <div class="box"></div>

        <section class="sm-intro">
            <div class="text-center">
                <span class="text-orange"> WHY CHOOSE US ?</span>
            </div>
            <div class="container">

                <div class="container-sm">
                    <div class="icon-box">
                        <img class="icon1"
                            src="./Assets/icons8-treadmill-64.png"
                            alt="trademill-logo" />
                    </div>
                    <p class="icon-heading"> Best Equipments</p>
                    <p class="container-text">Explore our gym's top-tier
                        equipment, meticulously chosen for optimal results,
                        showcased on our website for a glimpse into
                        excellence.</p>
                </div>
                <div class="container-sm">
                    <div class="icon-box">

                        <img class="absolute"
                            src="./Assets/list-64.png"
                            alt="list-64" />
                        <img class="icon2"
                            src="./Assets/orange-juice-50.png"
                            alt="orange-juice" />
                    </div>
                    <p class="icon-heading">Plan your Own workout</p>
                    <p class="container-text">Empower your fitness journey with
                        our gym website's unique feature—tailor and conquer your
                        goals by planning personalized workouts.</p>
                </div>
                <div class="container-sm">
                    <div class="icon-box">
                        <img class="icon3" src="./Assets/dumbell-64.png"
                            alt="dumbell-64">
                    </div>
                    <p class="icon-heading">Professional Workout</p>
                    <p class="container-text">Elevate your fitness journey with
                        our gym, offering expertly crafted professional workout
                        plans for unparalleled results.</p>
                </div>
                <div class="container-sm">
                    <div class="icon-box">
                        <img class="icon4" src="./Assets/heartbeat-50.png"
                            alt="heartbeat-50">

                    </div>
                    <p class="icon-heading">Track your Progress</p>
                    <p class="container-text">Elevate your fitness journey with
                        our gym website feature, empowering you to effortlessly
                        track and record workout progress.</p>
                </div>
            </div>

        </section>
        <!-- end of small intro section -->
        <section class="classes">
            <div class="text-center">
                <h3 class="text-orange heading">Our Plans</h3>
            </div>
            <div class="text-center">
                <p class="sub-heading">Choose your pricing plan.</p>
            </div>
        
            <div class="container2">
                <div class="membership-card silver">
                    <!-- Silver plan details -->
                    <form action="/create-order" method="POST">
                        <div class="membership-title">
                            <img src="./Assets/dumbbell-solid.svg" alt="silver"
                                class="card-icon">
                            <h3> silver</h3>
                        </div>
                        <div class="membership-perks">
                            <p>
                                <span class="price-style">35</span>
                                <span class="euro-style">$/month</span>
                            </p>
                            <p>Gain access to the gym room</p>
                            <p>Group Fitness classes</p>
                        </div>
                       
                        <input type="hidden" name="plan" value="Silver">
                        <input type="hidden" name="amount" value="3500"> <!-- Amount in paisa (35*100) -->
                        <button class="get-started-btn membership-btn" type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="membership-card gold">
                    <!-- Gold plan details -->
                    <form action="/create-order" method="POST">
                        <div class="membership-title">
                            <img src="./Assets/medal-solid.svg" alt="gold"
                                class="card-icon">
                            <h3>Gold</h3>
                        </div>
                        <div class="membership-perks">
                            <p>
                                <span class="price-style">95</span>
                                <span class="euro-style">$/month</span></p>
                            <p>Gain access to the gym room</p>
                            <p>Group Fitness classes</p>
                            <p>Access to Sauna and Courts</p>
                        </div>
                        <input type="hidden" name="plan" value="Gold">
                        <input type="hidden" name="amount" value="9500"> <!-- Amount in paisa (95*100) -->
                        <button class="get-started-btn membership-btn" type="submit">Sign Up</button>
                    </form>
                </div>
                <div class="membership-card platinum">
                    <!-- Platinum plan details -->
                    <form action="/create-order" method="POST">
                        <div class="membership-title">
                            <img src="./Assets/platinum.svg" alt="Platinum"
                                class="card-icon">
                            <h3>Platinum</h3>
                        </div>
                        <div class="membership-perks">
                            <p>
                                <span class="price-style">195</span>
                                <span class="euro-style">$/month</span>
                            </p>
                            <p>Access to everything we offer!</p>
                        </div>
                        <input type="hidden" name="plan" value="Platinum">
                        <input type="hidden" name="amount" value="19500"> <!-- Amount in paisa (195*100) -->
                        <button class="get-started-btn membership-btn" type="submit">Sign Up</button>
                    </form>
                </div>
            </div>
        </section>
        <!-- End of class section -->
        <section id="blogs" class="blogs section">
            <div class="text-center bg-orange">
                <h3 class="text-red">Our Blogs</h3>
            </div>
            <p class="blog-sub-heading">Latest Blog Feed</p>

            <ul class="blog-list has-scrollbar">
                <li class="scrollbar-item">
                    <div class="blog-card">
                        <div class="card-banner img-holder">
                            <img src="./Assets/gym-card.jpg" alt="gym-card"
                                class="img-cover" loading="lazy">
                            <time class="card-meta" datetime="2022-07-07">7 July
                                2022</time>
                        </div>
                        <div class="card-content">
                            <h3 class="h3">
                                <a href="#" class="card-title"> Going to gym for
                                    the first time</a>
                            </h3>

                            <p class="card-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Quas cum hic
                                fugiat eos harum voluptatibus.</p>
                            <a href="#" class="btn-link has-before">
                                READ MORE
                            </a>
                        </div>
                    </div>
                </li>
                <li class="scrollbar-item">
                    <div class="blog-card">
                        <div class="card-banner img-holder">
                            <img src="./Assets/gym-card.jpg" alt="gym-card"
                                class="img-cover" loading="lazy">
                            <time class="card-meta" datetime="2022-07-07">7 July
                                2022</time>
                        </div>
                        <div class="card-content">
                            <h3 class="h3">
                                <a href="#" class="card-title"> Going to gym for
                                    the first time</a>
                            </h3>

                            <p class="card-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Quas cum hic
                                fugiat eos harum voluptatibus.</p>
                            <a href="#" class="btn-link has-before">
                                READ MORE
                            </a>
                        </div>
                    </div>
                </li>
                <li class="scrollbar-item">
                    <div class="blog-card">
                        <div class="card-banner img-holder">
                            <img src="./Assets/gym-card.jpg" alt="gym-card"
                                class="img-cover" loading="lazy">
                            <time class="card-meta" datetime="2022-07-07">7 July
                                2022</time>
                        </div>
                        <div class="card-content">
                            <h3 class="h3">
                                <a href="#" class="card-title"> Going to gym for
                                    the first time</a>
                            </h3>

                            <p class="card-text">Lorem ipsum dolor sit amet
                                consectetur adipisicing elit. Quas cum hic
                                fugiat eos harum voluptatibus.
                            </p>

                            <a href="#" class="btn-link has-before">
                                READ MORE
                            </a>
                        </div>
                    </div>
                </li>

            </ul>
        </section>
        {{>footer}}
        <a href="#" class="back-top-btn active">
            <i class="fa-solid fa-caret-up"></i>
        </a>
        {{>scripts}}
    </body>
</html>