<footer class="footer">
            <div class="bg-dark footer-section">
                <div class="footer-container">
                    <div class="footer-brand">
                        <a href="/" class="footer-logo">
                            <img src="./Assets/logo-img.png" alt="logo-img"
                                class="logo-image">
                            <span>Fitness Forge</span>
                        </a>
                        <p class="footer-brand-text">
                            Unlock your fitness potential with our gym's
                            expertly crafted professional workout plans for a
                            transformative fitness journey.
                        </p>
                        <div class="wrapper">
                            <img src="./Assets/footer-clock.png" alt="clock"
                                loading="lazy">
                            <ul class="footer-brand-list">
                                <li>
                                    <p class="footer-brand-title">Monday -
                                        Friday</p>
                                    <p>7 A.M. - 10 P.M.</p>
                                </li>
                                <li>
                                    <p class="footer-brand-title">Saturday -
                                        Sunday</p>
                                    <p>7 A.M. - 2:00 P.M.</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title has-before">Our
                                Links</p>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                Home
                            </a>
                        </li>
                        <li>
                            <a href="/AboutUs"
                                class="footer-link">
                                About Us
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                Blogs
                            </a>
                        </li>
                        <li>
                            <a href="/classes"
                                class="footer-link">
                                Classes
                            </a>
                        </li>
                        <li>
                            <a href="#" class="footer-link">
                                Contact us
                            </a>
                        </li>
                    </ul>
                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title has-before">Contact Us
                            </p>
                        </li>
                        <li class="footer-list-item">
                            <div class="icon">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <address class="address footer-link">
                                560 Urban Via Suite 195
                                Friesenville
                                Missouri, USA
                            </address>
                        </li>
                        <li class="footer-list-item">
                            <div class="icon">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div>
                                <a href="#"
                                    class="footer-link">1800-121-3637</a>
                            </div>
                        </li>
                        <li class="footer-list-item">
                            <div class="icon">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <a href="#"
                                class="footer-link">FitnessForge@hotmail.com</a>
                        </li>

                    </ul>
                    <ul class="footer-list">
                        <li>
                            <p class="footer-list-title has-before">Tips and
                                Guides
                            </p>
                        </li>
                        <li class="footer-list-item">
                            <div class="fw-recent">
                                <h6>
                                    <a href="#">Physial fitness may help prevent
                                        depression, anxiety</a>
                                </h6>
                                <ul>
                                    <li>3 min read</li>
                                    <li>20 comments</li>
                                </ul>
                            </div>
                        </li>
                        <li class="footer-list-item">

                            <div class="fw-recent">
                                <h6>
                                    <a href="#">Physial fitness may help prevent
                                        depression, aniety</a>
                                </h6>
                                <ul>
                                    <li>3 min read</li>
                                    <li>20 comments</li>
                                </ul>
                            </div>
                        </li>
                        <li>
                            <ul class="social-list">
                                <li>
                                    <a href="#" class="social-link">
                                        <i class="fa-brands fa-facebook"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        <i class="fa-brands fa-instagram"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="social-link">
                                        <i class="fa-brands fa-x-twitter"></i>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </footer>