<nav class="navbar">
                <div class="logo-section">
                    <a href="/"> <img src="./Assets/logo-img.png"
                            alt="Fitness-Forge" class="logo-image"></a>

                    <a href="/"> <span>Fitness</span>
                        <span>Forge</span></a>
                </div>
                <div class="navbar-toggle" id="mobile-menu">
                    <span class="bar"></span>
                    <span class="bar"></span>
                    <span class="bar"></span>
                </div>
                <div class="navbar-menu navbar-animate">
                    <a href="/" class="navbar-link">Home</a>
                    <a href="/AboutUs"
                        class="navbar-link">About Us</a>
                    <a href="#blogs" class="navbar-link">Blogs</a>

                    <button class="login-btn">
                        Login
                        <div class="tooltip">
                            <p class="margin">Don't Have an Account?</p>
                            <p>You can Sign Up</p>
                        </div>
                    </button>
                </div>

            </nav>